
* {
  font-family: sans-serif;
  color: grey;
  font-weight: lighter;
}

header{
  text-align: center;
}

h6{
  color: white;
}

.stats-container{
  background-color: blue;
}

.row-stats-1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row-stats-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats-value{
  color: "dark-blue";
}
